@import url("https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css");
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Anton", sans-serif;
}

.kino-form-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.kino-form {
  max-height: 80vh;
  overflow-y: auto;
  background-color: rgba(6, 6, 6, 0.8);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* .kino-scroll {
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  padding: 1rem;
} */

.kino-event-thread-header {
  background-color: rgba(6, 6, 6, 0.7);
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.kino-title {
  background-color: rgba(6, 6, 6, 0.522);
  border-radius: 12px;
  padding: 1rem;
}

.kino-grey {
  background-color: rgba(6, 6, 6, 0.68);
}

.card-header-title,
.card-header-title Link {
  display: inline;
}

.kino-comment {
  border-radius: 12px;
  background-color: rgba(6, 6, 6, 0.7);
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.fixed-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.fixed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.map-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
}

.filter-container {
  margin-bottom: 20px;
  padding: 0.5rem;
  border-radius: 12px;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-label {
  margin-right: 10px;
}

#map {
  width: 75%;
  height: 75vh;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-content {
  text-align: center;
}
